name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:
  workflow_dispatch:

defaults:
  run:
    shell: sh

env:
  # 04-08-2023:
  # cibuildwheel builds linux wheels in a manylinux_ghc container, which
  # hardcodes the GHC and Cabal version. To change the GHC and Cabal versions,
  # you must update the containers in pyproject.toml under tool.cibuildwheel.
  #
  # See: https://github.com/wenkokke/manylinux_ghc
  DEFAULT_GHC_VERSION: "9.4.8"
  DEFAULT_CABAL_VERSION: "3.10.2.1"
  DEFAULT_PYTHON_VERSION: "3.12"

jobs:
  ################################################################################
  # Build package with cibuildwheel
  ################################################################################

  build:
    name: "Build / ${{ matrix.os.name }} / ${{ matrix.os.plat}}-${{ matrix.os.arch }}"
    runs-on: ${{ matrix.os.type }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - name: "Linux / GLIBC"
            type: "ubuntu-latest"
            plat: "manylinux_x86_64"
          - name: "Linux / MUSL"
            type: "ubuntu-latest"
            plat: "musllinux_x86_64"
          - name: "macOS"
            type: "macos-latest"
            plat: "macosx_x86_64"
          - name: "macOS"
            type: "macos-14"
            plat: "macosx_arm64"
          - name: "Windows"
            type: "windows-latest"
            plat: "win_amd64"
        python:
          - tag: "cp37"
          - tag: "cp38"
          - tag: "cp39"
          - tag: "cp310"
          - tag: "cp311"
          - tag: "cp312"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - # 19-05-2023:
        # Required to build the wheels on macOS and Windows, but not on Linux,
        # as Linux builds are run in containers, where GHC and Cabal are built
        # by the `./scripts/before-all.sh` scripts.
        if: runner.os == 'macOS' || runner.os == 'Windows'
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ env.DEFAULT_GHC_VERSION }}
          cabal-version: ${{ env.DEFAULT_CABAL_VERSION }}

      - uses: pypa/cibuildwheel@v2.16.5
        with:
          output-dir: "./wheelhouse"
          config-file: "{package}/pyproject.toml"
        env:
          CIBW_BEFORE: "cabal update"
          CIBW_BUILD: "${{ matrix.python.tag }}-${{ matrix.os.plat }}"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: "agda-${{ matrix.python.tag }}-${{ matrix.os.plat }}"
          path: ./vehicle-python/wheelhouse/*.whl

  ################################################################################
  # Publish package to GitHub Releases
  ################################################################################

  publish-to-github-releases:
    name: Publish to GitHub Releases
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build]

    permissions:
      contents: write

    steps:
      - name: Download wheelhouse
        uses: actions/download-artifact@v4
        with:
          pattern: wheelhouse-*-*
          path: wheelhouse
          merge-multiple: true

      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: "./wheelhouse/*.whl"
          fail_on_unmatched_files: true

  ################################################################################
  # Publish package to PyPI
  ################################################################################

  publish-to-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build]

    environment:
      name: pypi
      url: https://pypi.org/p/agda

    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Download wheelhouse
        uses: actions/download-artifact@v4
        with:
          pattern: wheelhouse-*-*
          path: wheelhouse
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: "./wheelhouse"
